<div class="mt-5">
    <form [formGroup]="drugForm" (ngSubmit)="onSubmit()">
        <div class="form-group mb-3">
            <label for="exampleInputEmail1">Name</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter Name" formControlName="name" [readOnly]="status=='update'">
            <div *ngIf="drugForm.get('name')?.invalid && drugForm.get('name')?.touched" class="text-danger mt-1">
                <div *ngIf="drugForm.get('name')?.errors?.['required']">
                    Name is required.
                </div>
              
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="exampleInputPassword1">Description</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="description"
                formControlName="description">
                 <div *ngIf="drugForm.get('description')?.invalid && drugForm.get('description')?.touched" class="text-danger mt-1">
                <div *ngIf="drugForm.get('description')?.errors?.['required']">
                    Name is required.
                </div>
              
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="exampleInputPassword1">Category</label>
                 <select formControlName="clinicCategoryId" class="ms-3">
                <app-selectlist [items]="categories"  (selectedItem)="selectchange($event)"></app-selectlist>
           
            </select>

        </div>
        <div class="form-check mb-3">
            <input type="checkbox" class="form-check-input" id="exampleCheck1" formControlName="isActive"
                [(ngModel)]="isActive">
            <label class="form-check-label" for="exampleCheck1">IsActive</label>
        </div>
        <div class="d-flex">
            <button type="submit" class="btn btn-primary ms-auto"
                [disabled]="!drugForm.valid">{{status=='create'?'Save':'Update'}}</button>
        </div>
    </form>
</div>